<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a style="color:white" class="navbar-brand h1" href="#">ዱኳን </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a style="color:white" class="nav-link" href="/">ብዛዕባ</a>
        </li>
        <li class="nav-item">
            <a style="color:white" class="nav-link" href="/">ቦታ</a>
        </li>
        <li class="nav-item">
            <a style="color:white" class="nav-link" href="">ናውቲ ዓራት</a>
        </li>  
        <li class="nav-item">
            <a style="color:white" class="nav-link" href="">ሳሎን</a>
        </li>
        <li class="nav-item">
            <a style="color:white" class="nav-link" href="">መጋረጃ</a>
        </li>
        <li class="nav-item">
            <a style="color:white" class="nav-link" href="">ናእሽቱ</a>
        </li>
        <li class="nav-item">
            <a style="color:white" class="nav-link" href="">ርኸቡና</a>
        </li>  
        </ul>
    </div>  
    </nav>
    <br>
</header>