.footer{
    color: white;
    text-align: center;
    padding: 20px;
}
.myColor{
    background-color: rgb(48,48,48) !important;
}
.aboutSection{
    padding: 120px 0px 120px 0px;
    word-wrap: break-word;
    color: white;
}
h1{
    padding-left: 100px;
    padding-top: 50px;
    color: whitesmoke;
}
.cardh-100{
    background-color:rgb(48,48,48);
    color: white;
    padding: 5px
}
a{
    color: whitesmoke !important;
}

.theBody{
    margin-top: 6px;
    margin-bottom: 6px;
}
.kokob{
    color: gold;
}
.pg_about{
    background-color: rgb(48,48,48);
}
body{
    background-color: orangered !important;
}
