.footer{
    color: white;
    text-align: center;
    padding: 20px;
}
.myColor{
    background-color: indianred !important;
}
.aboutSection{
    padding: 100px 0px 100px 0px;
    word-wrap: break-word;
    color: white;
}
h1{
    padding-left: 50px;
}
.cardh-100{
    background-color: indianred;
    color: white;
    padding: 5px
}

.theBody{
    margin-top: 6px;
    margin-bottom: 6px;
}
.kokob{
    color: gold;
}
.pg_about{
    background-color: indianred;
}
